__pycache__/
*.pyc
*.pyo
.env
venv/
.vscode/
.idea/
*.log
.DS_Store

# Java / Gradle
build/
target/
.gradle/
*.jar
!gradle/wrapper/gradle-wrapper.jar

java/malicevisual/фв.rar
java/malicevisual/DeltaClient-main/launcher/windows/flutter/ephemeral/
